@page
@model RecipeBook.WebApp.Pages.Favourites.RetrieveModel
@{
}
@if (Model.SessionUser.IsAdmin)
{
    <div class="text-center mb-4">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Recipe</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var favourite in Model.Favourites)
            {
                <tr>
                    <td scope="row">@favourite.User.UserName</td>
                    <td>@favourite.Recipe.Title</td>
                    <td>
                        <a class="fa-solid fa-trash" asp-area="" asp-page="/favourites/delete" asp-route-id="@favourite.Id"></a> /
                        <a class="fa-solid fa-heart" asp-area="" asp-page="/Recipes/RetrieveBy" asp-route-id="@favourite.Recipe.Id"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}
else
{
        <div class="text-center mb-4">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Recipe</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var favourite in Model.Favourites)
            {
                <tr>
                    <td scope="row">@favourite.Recipe.Title</td>
                    <td>
                        <a class="fa-solid fa-trash" asp-area="" asp-page="/favourites/delete" asp-route-id="@favourite.Id" asp-route-userId="@Model.SessionUser.Id"></a>
                        <a class="fa-solid fa-heart" asp-area="" asp-page="/Recipes/RetrieveBy" asp-route-id="@favourite.Recipe.Id"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}


